<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">
<context:property-placeholder location="classpath:datosEmpresa.propiedades"/>
<!-- Creación de la dependencia -->
    <bean id="miInforme" class="es.pildoras.IoC.Informe">
    
    </bean> 
    <!-- Creacion de dependencias con un constructor. Usa etiqueta constructor-arg -->
	<bean id="miEmpleado" class="es.pildoras.IoC.JefeEmpleado">
	<constructor-arg ref="miInforme"></constructor-arg>
	</bean>
	<!-- inyeccion de dependencias con un setter -->
	<bean id="miSecretarioEmpleado" class="es.pildoras.IoC.SecretarioEmpleado">
	<!-- El property es el nombre del setter pero sin la palabra Set y con la primera letra en minúscula -->
	<property name="informeNuevo" ref="miInforme"></property>
	<!-- Meter las propiedades mediante un archivo externo. También se pueden poner los valores aquí directamente -->
	<property name="email" value="${email}"></property>
	<property name="nombreEmpresa" value="${nombreEmpresa}"></property>
	</bean>
	
	
</beans>